{% extends 'base.html' %}

{% block title %}{{encounter.title}}{% endblock %}

{% block content %}'
    {% include 'encounter.html' %}
    <meta id="encounter-id" data-id="{{encounter.id}}">

    <footer class="footer vh-5 bg-dark fixed-bottom text-center">
        {% if session['user_id'] %}
        <form action='/users/{{session["user_id"]}}' id='update-form' methods="POST">
            <button class="btn btn-sm btn-lw">Update Encounter</button>
        </form>
        {% endif %}
    </footer>
    
    
    <script src="/static/scripts/resources.js"></script>
    <script src="/static/scripts/helpers.js"></script>
    <script src="/static/scripts/encounterBuilderScripts.js"></script>
    <script src="/static/scripts/encounterDetailsScripts.js"></script>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
{% endblock %}