{% block content %}
<div class="container text-center">
    <div class="row top-row">
        <div class="col">
            <h5><span class="num-header">1)</span> Create your party:</h5>
            <form class='mb-2' id="pc-lvl-form">
                <label for="pc-lvl">Player Level:</label>
                <select name="pc-lvl" id="pc-lvl">
                    {% for n in range(1,21) %}
                        <option value="{{n}}">{{n}}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-sm btn-lw">Add Player</button>
            </form>
            <div id="party"></div>
        </div>
        <div class="col">
            <h5><span class="num-header">2)</span> Calculate Encounter Challenge Ratings:</h5>
            <form id="parameters-form" method="POST">
                <div>
                    <label for="enc-difficulty" class="form-label">Difficulty:</label>
                    <select name="enc-difficulty" id="enc-difficulty">
                        <option value="easy">Easy (9+ / day)</option>
                        <option value="medium">Medium (6-8 / day)</option>
                        <option value="hard">Hard (6-8 / day)</option>
                        <option value="deadly">Deadly (sparingly)</option>
                    </select>
                    <label for="density" class="form-label">Density:</label>
                    <select name="density" id="density">
                        <option value="one">One</option>
                        <option value="few">Few</option>
                        <option value="many">Many</option>
                        <option value="horde">Horde</option>
                    </select>
                </div>
            </form>
            <p>CR List:<span id="cr-section"></span></p>
        </div>
        <div class="col">
            <h5><span class="num-header">3)</span> Add Monsters or Generate an Encounter:</h5>
            <form id="monster-name-add-form" method="POST">
                <label for="name" class="form-label">Monster by Name:</label>
                <input type="text" name="name" id="monster-name">
                <button class="btn btn-sm btn-lw" id="add-btn">Add</button>
            </form>
            <input type='submit' form='parameters-form' id="generate-btn" class="btn btn-sm btn-lw" value='Generate Random Encounter'/>
        </div>
    </div>
    <div class="row bottom-row">
        <div class="col-3">
            <h5><span class="num-header">4)</span> Search by Type and CR:</h5>
            <form id="monster-search-form" method="POST">
                <div>
                    <label for="cr" class="form-label">CR:</label>
                    <input type="text" name="cr" id="monster-cr" style="width: 2rem;">
             
                    <label for="type" class="form-label">Monster Type:</label>
                    <select name="type" id="monster-type">
                        {% for c in creature_types %}
                            <option value="{{c}}">{{c|capitalize}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-sm mb-1 btn-lw" id="search-btn">Search</button>
            </form>
            <div>
                <ul id="search-section"></ul>
            </div>
        </div>
        <div class="col" id="main-col">
            <h4>Monsters</h4>
            <div class="text-start mt-2" id="monster-section"></div>
        </div>  
    </div>
</div>
{% endblock %}