{% extends 'base.html' %}

{% block title %}Encounter Builder{% endblock %}

{% block content %}
{% include 'encounter.html' %}

<footer class="footer vh-5 bg-dark fixed-bottom text-center">
    {% if session['user_id'] %}
    <form action='/encounter/create' id='create-form' method="POST">
        <span class="text-white">Encounter Title: </span><input type="text" name="title" id="create-title">
        <input type="hidden"  name='monsters' id='monsterRef'>
        <button type="button" class="btn btn-sm btn-lw" id="create-btn">Create</button>
    </form>
    {% else %}
        <p>Log in to save your encounters!</p>
    {% endif %}
</footer>

<script src="/static/scripts/resources.js"></script>
<script src="/static/scripts/helpers.js"></script>
<script src="/static/scripts/encounterBuilderScripts.js"></script>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
{% endblock %}