{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container d-flex flex-column vh-90 justify-content-center align-items-center">
            <div class="card text-center user-card">
                <form action="/login" method="POST" id="login-form">
                    <h4>Sign In</h4>
                    {% include 'form_logic.html' %}
                    <button class="btn btn-lw mt-3">Log In</button>
                </form>
            </div>  
    </div>
{% endblock %}

{% include 'footer.html' %}