{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
    <div class="container d-flex flex-column user-card-center justify-content-center align-items-center">
            <div class="card text-center user-card">
                <form action="/register" method="POST" id="register-form">
                    <h4>Sign Up</h4>
                    {% include 'form_logic.html' %}
                    <button class="btn btn-lw mt-3">Create Account</button>
                </form>
            </div>  
    </div>
{% endblock %}

{% include 'footer.html' %}