{% extends 'base.html' %}

{% block title %}My Profile{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1>{{user.username}}'s Profile</h1>

        <h3>My Encounters:</h3>
        <div class='text-center' id="user-encounters">
            {% for encounter in user.encounter %}
                <div class="card" data-id="{{encounter.id}}">
                    <a href="/encounter/{{encounter.id}}" class="d-block">{{encounter.title}}</a>
                    <form action='/encounter/{{encounter.id}}/delete' class='encounter-delete-form' methods="POST">
                        <button class="btn btn-sm btn-danger delete-btn">X</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="/static/scripts/userDetailsScripts.js"></script>
{% endblock %}