body {
    font-size: small;
}

.vh-5 {
    height: 5vh;
}

.vh-90 {
    height: 90vh;
}

.card .row {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

.card p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.delete-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.party-icon {
    border: 1px solid black;
    border-radius: 2px;
}

.success {
    text-align: center;
    color: white;
    background-color: green;
}

.logout-btn {
    color: rgba(255,255,255,.55);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

#search-section {
    text-align: start;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    max-height: 55vh;
}

#search-section li {
    border: 1px solid black;
    transition: background-color 0.3s;
}

#search-section li:hover {
    background-color: rgba(0, 0, 0, 0.341);
}

#monster-section {
    max-height: 69vh;
    overflow: auto;
    overflow-x: hidden;
}

